# Values for generating Knative Operator manifests using Helm chart
# Usage: helm template knative-operator /tmp/knative-operator -n knative-operator --values MAINTENANCE.values.yaml > knative-operator-built.yaml

knative_operator:
  knative_operator:
    image: gcr.io/knative-releases/knative.dev/operator/cmd/operator
    tag: v1.19.5
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
      limits:
        cpu: 1000m
        memory: 1000Mi
  operator_webhook:
    image: gcr.io/knative-releases/knative.dev/operator/cmd/webhook
    tag: v1.19.5
    containerSecurityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      runAsNonRoot: true
    resources:
      requests:
        cpu: 100m
        memory: 100Mi
      limits:
        cpu: 500m
        memory: 500Mi
  kubernetes_min_version: v1.25.0
